h1 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  margin-top: 3rem;
  line-height: 38px;
}

.subtitle {
  font-weight: 600;
  font-size: 1.25rem;
  color: #8a8a8a;
  text-align: center;
}